<div class="card bg-dark my-5">

    <div class="card-header">
        <h1 class="card-title text-color1">
            {{fattura.cliente.cognomeContatto}}
            {{fattura.cliente.nomeContatto}}

        </h1>
    </div>

    <div class="card-body">
        <h5 class="card-title text-color1"><span class="text-color2">Anno:</span>
            {{fattura.anno}}</h5>
        <h5 class="card-title text-color1"><span class="text-color2">Numero:</span>
            {{fattura.numero}}</h5>
        <h5 class="card-title text-color1"><span class="text-color2">Data:</span> {{fattura.data}}</h5>
        <h5 class="card-title text-color1"><span class="text-color2">Importo:</span> {{fattura.importo}} €</h5>
        <h5 class="card-title text-color1"><span class="text-color2">Stato:</span> {{fattura.stato.nome}}</h5>
    </div>

</div>