<div class="container-fluid vh-100 w-75 custom-bg">
    <h1 class="text-white text-center py-3">Your Personal invoice studio</h1>

    <h2 class="text-white text-center my-5">PRATICO E VELOCE</h2>

    <h5 class="text-white text-center my-sm-5"><b>Lo Studio carica manualmente, dal portale e in modo guidato, i dati
            della
            fattura.</b></h5>

    <h5 class="text-white text-center my-5"><b>Invio delle fatture al Sistema di Interscambio veloce, sicuro ed
            affidabile
            tramite canale Web Service
            Completa automazione del processo di firma e conservazione.</b></h5>

    <h5 class="text-white text-center my-5"><b>Possibilità di estendere facilmente e gradualmente il servizio di
            archiviazione e conservazione sostitutiva a tutti
            i documenti di natura fiscale.</b></h5>

</div>