<div class="form-row d-flex mb-5 bg-warning p-5 table-gradient">
    <div class="col-md-3 my-1">
        <label for="Nome"><b>Nome:</b></label>
        <input type="text" [(ngModel)]="client.nomeContatto" name="todo" class="form-control" placeholder="Nome">
    </div>

    <div class="col-md-3 my-1">
        <label for="Cognome"><b>Cognome:</b></label>
        <input type="text" [(ngModel)]="client.cognomeContatto" class="form-control" placeholder="Cognome">
    </div>

    <div class="col-md-3 my-1">
        <label for="Email"><b>Email:</b></label>
        <input type="email" [(ngModel)]="client.email" class="form-control" placeholder="Email">
    </div>

    <div class="col-md-3 my-1">
        <label for="Telefono"><b>Telefono:</b></label>
        <input type="number" [(ngModel)]="client.telefono" class="form-control" placeholder="Telefono">
    </div>

    <div class="col-md-4 my-1">
        <label for="email contatto"><b>>Email Contatto:</b></label>
        <input type="email" [(ngModel)]="client.emailContatto" class="form-control" placeholder="Email Contatto">
    </div>

    <div class="col-md-4 my-1">
        <label for="Telefono Contatto"><b>Telefono Contatto:</b></label>
        <input type="number" [(ngModel)]="client.telefonoContatto" class="form-control" placeholder="Telefono Contatto">
    </div>

    <div class="col-md-4 my-1">
        <label for="P. IVA"><b>P. IVA:</b></label>
        <input type="number" [(ngModel)]="client.partitaIva" class="form-control" placeholder="P. IVA">
    </div>

    <div class="col-md-3 my-1">
        <label for="fatturatoAnnuale"><b>Fatturato Annuale:</b></label>
        <input type="number" [(ngModel)]="client.fatturatoAnnuale" class="form-control" placeholder="Fatturato Annuale">
    </div>

    <div class="col-md-3 my-1">
        <label for="Pec"><b>PEC:</b></label>
        <input type="email" [(ngModel)]="client.pec" class="form-control" placeholder="Pec">
    </div>

    <div class="col-md-3 my-1">
        <label for="Ragione Sociale"><b>Ragione Sociale:</b></label>
        <input type="text" [(ngModel)]="client.ragioneSociale" class="form-control" placeholder="Ragione Sociale">
    </div>

    <div class="col-md-3">
        <p></p>
        <label for="FormGroupExampleInput2"><b>Tipo Cliente</b></label>
        <select [(ngModel)]="client.tipoCliente">
            <option [ngValue]="item" *ngFor="let item of tipoCliente">
                {{item}}
            </option>
        </select>
    </div>

    <div class="col-12 my-3">
        <h2 class="text-dark">
            Indirizzo Sede Legale:
        </h2>
    </div>

    <div class="container col-md-4 my-1">
        <label for="Via"><b>Via</b></label>
        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.via" class="form-control" placeholder="Via">
    </div>

    <div class="container col-md-4 my-1">
        <label for="civico"><b>Civico:</b></label>
        <input type="number" [(ngModel)]="client.indirizzoSedeLegale.civico" class="form-control" placeholder="Civico">
    </div>

    <div class="container col-md-4 my-1">
        <label for="cap"><b>CAP:</b></label>
        <input type="number" [(ngModel)]="client.indirizzoSedeLegale.cap" class="form-control" placeholder="CAP">
    </div>

    <div class="container col-md-4 my-1">
        <label for="località"><b>Località:</b></label>
        <input type="text" [(ngModel)]="client.indirizzoSedeLegale.localita" class="form-control"
            placeholder="Località">
    </div>

    <div class="container col-md-4 my-1">
        <p></p>
        <label for="comuneNome"><b>Comune:</b></label>
        <select [(ngModel)]="client.indirizzoSedeLegale.comune">
            <option [ngValue]="item" *ngFor="let item of comuneArr">
                {{item.nome}}
            </option>
        </select>
    </div>

    <div class="container col-md-4 my-1">
        <p></p>
        <label for="provinciaNome"><b>Provincia:</b></label>
        <select [(ngModel)]="client.indirizzoSedeLegale.comune.provincia">
            <option [ngValue]="item" *ngFor="let item of comuneArr">
                {{item.provincia.nome}}
            </option>
        </select>
    </div>

    <div class=" col-12 my-3">
        <h2 class="text-dark">
            Indirizzo Sede Legale:
        </h2>
    </div>

    <div class="container col-md-4 my-1">
        <label for="Via"><b>Via</b></label>
        <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.via" class="form-control" placeholder="Via">
    </div>

    <div class="container col-md-4 my-1">
        <label for="civico"><b>Civico:</b></label>
        <input type="number" [(ngModel)]="client.indirizzoSedeOperativa.civico" class="form-control"
            placeholder="Civico">
    </div>

    <div class="container col-md-4 my-1">
        <label for="cap"><b>CAP:</b></label>
        <input type="number" [(ngModel)]="client.indirizzoSedeOperativa.cap" class="form-control" placeholder="CAP">
    </div>

    <div class="container col-md-4 my-1">
        <label for="località"><b>Località:</b></label>
        <input type="text" [(ngModel)]="client.indirizzoSedeOperativa.localita" class="form-control"
            placeholder="Località">
    </div>

    <div class="container col-md-4 my-1">
        <p></p>
        <label for="comuneNome"><b>Comune:</b></label>
        <select [(ngModel)]="client.indirizzoSedeOperativa.comune">
            <option [ngValue]="item" *ngFor="let item of comuneArr">
                {{item.nome}}
            </option>
        </select>
    </div>

    <div class="container col-md-4 my-1">
        <p></p>
        <label for="provinciaNome"><b>Provincia:</b></label>
        <select [(ngModel)]="client.indirizzoSedeOperativa.comune.provincia">
            <option [ngValue]="item" *ngFor="let item of comuneArr">
                {{item..provincia.nome}}
            </option>
        </select>
    </div>

    <div class="container d-flex justify-content-center col-3 bg mt-5">
        <button type="button" class="btn button-color form-control" (click)="saveClient()"><b class="text-danger">Add
                Client</b></button>
    </div>

</div>