.table-gradient {
  /*background: rgb(230, 21, 197);
  background: linear-gradient(
    90deg,
    rgba(230, 21, 197, 1) 15%,
    rgba(219, 30, 43, 1) 85%
  );*/

  background: rgb(230, 21, 197);
  background: radial-gradient(
    circle,
    rgba(230, 21, 197, 1) 15%,
    rgba(219, 30, 43, 1) 85%
  );
}

.button-color {
  background: rgb(236, 255, 0);
  background: radial-gradient(
    circle,
    rgba(236, 255, 0, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
}
