<div class="form-color-bg form-row d-flex py-5">

    <div class="col-md-4 my-1">
        <label for="numero">Numero:</label>
        <input type="number" [(ngModel)]="fattura.numero" class="form-control" placeholder="Numero">
    </div>

    <div class="col-md-4 my-1">
        <label for="Pec">Anno:</label>
        <input type="number" [(ngModel)]="fattura.anno" class="form-control" placeholder="Anno">
    </div>

    <div class="col-md-4 my-1">
        <label for="Pec">Importo:</label>
        <input type="number" [(ngModel)]="fattura.importo" class="form-control" placeholder="Importo">
    </div>

    <div class="col-md-6 my-5">
        <label for="tipo">Cliente: </label>
        <select class="p-2" name="tipo" [(ngModel)]="fattura.cliente" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="item" *ngFor="let item of clients">
                {{item.nomeContatto}} {{item.cognomeContatto}}
            </option>
        </select>
    </div>

    <div class="col-md-6 my-5">
        <label for="tipo">Stato Fattura: </label>
        <select class="p-2" name="tipo" [(ngModel)]="fattura.stato" [ngModelOptions]="{standalone: true}">
            <option [ngValue]="item" *ngFor="let item of statoFattura">
                {{item.nome}}
            </option>
        </select>
    </div>

    <div class="container d-flex justify-content-center col-3 px-5">
        <button type="button" class="btn button-bg form-control" (click)="addFattura()">Save New Invoice</button>
    </div>

</div>